{
    box-sizing: border-box;
}
.wrapper
{
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #f0f0f0;
}
.row
{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
form
{
    width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
textarea
{
    height: 100px;
}
input, textarea
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.bottom
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
button
{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}
p
{
color: silver;
}

